initProps
service/admin
service/apiinfo
service/circles
service/experiments
service/libraries
service/projects
service/DETERresources
service/realizations
service/users
service/wsdllib
util/regression
build/
doc/
.*.swp
tags

# Java artifacts
*.class

# Gradle artifacts
.gradle/

# Eclipse artifacts
bin/
.settings/
.classpath
.project

# Idea artifacts
.idea
*.iml
*.ipr
